body{
    background-image: url(img/bak.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0% ;
    background-color: #bbbcbe;
}

/* estilizar as tabs */
.pag {
  background-color:  rgb(173, 16, 16);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* estilizar o conteudo da página*/
.conteudo {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.84);
}

ul {
  list-style: none;
  display:grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  transition:transform 0.3s
}

li{
  display: inline;
  list-style-type:none;
  overflow: hidden;
  float: left;
}

li a{
  display: block;
  text-align: center;
}

p{
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.personagens img{
  border-radius: 8px;
  width: 300px;
  gap: 24px;
}

.livros img{
  border-radius: 3px  ;
  width: 150px;
  gap: 24px;
}

.autora img{
  width: 300px;
  border-radius: 3px;
}

footer{
  width: 70vw;
  height: 30vh;
}

footer p{
  display: inline;
  text-align: center;
  font-size: 40px;
  font-family: 'Cinzel', serif;
  color: rgb(rgb(77, 74, 74));
}

/* interação */
.pag:hover {
  background-color: #440a0a;
}

li:hover{
  transform: scale(1.1);
}